*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div.nav_bar{
    height:9.9vh;
}
.nav_bar .navbar {
    background-color: rgb(49, 130, 144) ;
    color:aliceblue;
    }
.logo{
    font-size:2rem;
    color:antiquewhite;
    padding:0px 10px;
}
.search_bar .navbar {
    background-color:rgb(49, 130, 144) !important; 
    color: white;
  }
  
 .search_bar .btn{
    color:white;
    border-color: black;
  }
  .search_bar .btn:hover{
    color:white;
    border-color: black;
    background-color: rgb(43, 202, 210);
  }

  /* content */

  .content{
    position: relative;
    margin:0px 0px;
    color:#f0f8ff;
    padding:0px 0px;
    height:100vh;


    flex: 1;
    overflow-y: auto;
    background-image: url("Weather.png");
    background-size: cover;
    background-position: center;
     }

     /* cards */

    .cards_group{
        margin:100px;
       
        height:80vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
         }

    .cards_group .card{
        width:65%;
        background-color: rgb(114, 206, 245);
        color:white;
        height:80vh;
    }

    /* upper card part */
    .upper_card{
        display:flex;
        align-items: center;
        justify-content: space-around;
        font-size: 30px;
        box-sizing: border-box;
        border:5px solid black;
        margin:0;
        height:18vh;

        
    }
    .card_img{
        height:100%;
        width:100px;
    }
    .card_para{
        padding:0px 30px;
    }

     /* middle card part */
     .middle_card{
        background-color: rgb(232, 40, 75) ;
        height:30vh;
        display: flex;
        justify-content: space-around;
        align-items:center;
        flex-wrap: wrap;
      
     }
    .midpart{
        background-color: rgb(234, 30, 180) ;
        height:20vh;
        width:20%;
        margin:10px ;
        border:2px solid rgba(18, 177, 230, 0.502);
        border-radius: 20px;

        display: flex;
        justify-content: space-around;
        align-items:center;
        flex-direction: column;
        
     }

     /* lower card part */

     .lower_card{
        background-color: rgb(46, 213, 31) ;
        height:32vh;
        display: flex;
        justify-content: space-around;
        align-items:center;
        flex-wrap: wrap;
     }

    .lower_card p{
        font-size:25px;
        padding:0px 7px;
       
        
    }

    .hourly_forecast{
        background-color: rgb(234, 30, 180) ;
        height:20vh;
        width:20%;
        margin:10px ;
        border:2px solid rgba(18, 177, 230, 0.502);
        border-radius: 20px;

        display: flex;
        justify-content: space-around;
        align-items:center;
        flex-direction: column;

    }
 

  
/* footer */

  .footer{
    background-color:rgb(49, 130, 144) ;
    color:white;
    margin:0;
    height:10vh;
    font-size:20px;
    display:flex;
    justify-content: center;

  }