
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div.nav_bar{
    height:9.9vh;
}
.nav_bar .navbar {
    background-color: rgb(49, 130, 144) ;
    color:aliceblue;
    }
.logo{
    font-size:2rem;
    color:antiquewhite;
    padding:0px 10px;
}
.search_bar .navbar {
    background-color:rgb(49, 130, 144) !important; 
    color: white;
  }
  
 .search_bar .btn{
    background-color: #00bcd4;
    border-color: black;
  }
  .search_bar .btn:hover{
    color:white;
    border-color: black;
    background-color: #0097a7;
  }

  #weather-mood{
    font-size: 20px;
    margin:0px 4px;
  }
  #temperature{
    font-size: 70px;
  }

  /* content */

  .content{
    position: relative;
    margin:0px 0px;
    color:#f0f8ff;
    padding:0px 0px;
    height:100vh;


    flex: 1;
    overflow-y: auto;
    background-image: url("Weather.png");
    background-size: cover;
    background-position: center;
     }

     /* cards */

    .cards_group{
        margin:100px;
       
        height:80vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        
         }

    .cards_group .card{
        width:65%;
        background: linear-gradient(to right, #58c2c5, #4da2af);
        color:white;
        height:82vh;
        border:2px solid black;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        border-radius:20px;
    }

    /* upper card part */
    .upper_card{
        display:flex;
        align-items: center;
        justify-content: space-between;
        font-size: 30px;
        box-sizing: border-box;
        margin:0;
        height:18vh;
        padding-right: 25px;
        border-radius:20px;

        background-color: #4da2af;

        
    }
    .card_img{
        height:100%;
        width:140px;
    }
   
    .upper_card .location-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 25px;
      }
      
      #temperature{
        color: #FFD700; 
      }

     /* middle card part */
     .middle_card{
        /* background-color: rgb(232, 40, 75) ; */
        height:30vh;
        display: flex;
        justify-content: space-around;
        align-items:center;
        flex-wrap: wrap;
      
     }
    .midpart{
        background-color: rgb(234, 30, 180) ;
        height:20vh;
        width:20%;
        margin:10px ;
        border:2px solid rgba(18, 177, 230, 0.502);
        border-radius: 20px;
        padding:10px;

        display: flex;
        justify-content:space-between;
        align-items:center;
        flex-direction: column;
        
     }

     .mdlImg{
        width: 40px;
         height: 40px;
    }
    .mdlpr{
        font-size: 18px;
        padding:10px;
    }
    .mdldt{
        font-size: 18px;
    }

     /* lower card part */

     .lower_card{
        /* background-color: rgb(46, 213, 31) ; */
        height:34vh;
        border-radius:20px;
    
     }

     .hourly_forecast{
       
        display: flex;
        justify-content: space-around;
        align-items:center;
        flex-wrap: wrap;
        width:100%;
     }

    .lower_card p{
        font-size:25px;
        text-align: left;
        padding-left: 25px;
        
    }

    .hourly_item{
        background-color: rgb(234, 30, 180) ;
        height:23vh;
        width:15%;
        margin:10px ;
        border:2px solid rgba(18, 177, 230, 0.502);
        border-radius: 20px;

        display: flex;
        justify-content: space-around;
        align-items:center;
        flex-direction: column;
        

    }

    .lwrImg{
        height:50px;
        width:50px;
    }

    .midpart,.hourly_item {
      background-color: #4a9ead;
      border: 2px solid rgba(255, 255, 255, 0.2);
      }

      .lwrdt{
        padding-right: 25px;
      }
      #t1,#t2,#t3,#t4{
        padding-right: 30px;
        padding-top: 10px;
      }

 

  
/* footer */

  .footer{
    background-color:rgb(49, 130, 144) ;
    color:white;
    margin:0;
    height:10vh;
    font-size:20px;
    display:flex;
    justify-content: center;
    text-align: center;
     padding: 20px;
  }






  @media only screen and (min-width: 859px) and (max-width: 1461px){
     #temperature{
    font-size: 65px;
  }
    .mdlpr{
       font-size: 18px;
        padding:2px;
    }
    #one.card{
      width: 90%;
    }
    .hourly_item{
      width:20%;
      
    }
     #t1,#t2,#t3,#t4{
       font-size:25px;
       padding-right: 15px;
    
    }

  }
  
  
   @media only screen and (min-width: 704px) and (max-width: 858px){
     #temperature{
    font-size: 60px;
  }
    .mdlpr{
       font-size: 18px;
        padding:2px;
    }
    #one.card{
      width: 90%;
    }
    .hourly_item{
      width:20%;
      
    }
     #t1,#t2,#t3,#t4{
       font-size:25px;
       padding-right: 15px;
    
    }
    .cards_group{
        margin:100px 40px;
  
  } 
   .cards_group .card{
      width:100%;
    }
  }



@media only screen and (min-width: 448px) and (max-width: 703px){
     #temperature{
    font-size: 30px;
  }
    .mdlpr{
       font-size: 11px;
        padding:2px;
    }
    #one.card{
      width: 90%;
    }
    .hourly_item{
      width:20%;
      
    }
     #t1,#t2,#t3,#t4{
       font-size:14px;
       padding-right: 15px;
    
    }
    .cards_group{
        margin:100px 10px;
        padding:0;
        width: 100%;
  
  } 
   .cards_group .card{
      width: 100%;
    }
    .logo{
    font-size:2rem;
    color:antiquewhite;
    padding:0px 10px;
    
    width:550px;
  }
  .hamburger{
    position:relative;
    bottom:40px;
    
  }
  }

  @media only screen and (min-width: 413px) and (max-width: 447px){
     #temperature{
    font-size: 30px;
  }
    .mdlpr{
       font-size: 11px;
        padding:2px;
    }
    #one.card{
      width: 90%;
    }
    .hourly_item{
      width:20%;
      
    }
     #t1,#t2,#t3,#t4{
       font-size:14px;
       padding-right: 15px;
    
    }
    .cards_group{
        margin:100px 5px;
        padding:0;
        width: 100%;
  

  } 
   .cards_group .card{
      width: 100%;
      height:750px;
    }
    .logo{
    font-size:1.5rem;
    color:antiquewhite;
    padding:0px 10px;
    margin:5px 0px;
    
    width:300px;
  }
  .hamburger{
    position:relative;
    /* left:330px; */
    bottom:50px;

  }


  .middle_card {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
  justify-items: center;
  height:50vh;

}
.midpart{
        height:20vh;
        width:80%;        
     }

.hourly_item{

        height:25vh;
        width:22%;
        margin:25px 5px ;
        }
  }


   @media only screen and (min-width: 375px) and (max-width: 412px){
     #temperature{
    font-size: 30px;
  }
    .mdlpr{
       font-size: 11px;
        padding:2px;
    }
    #one.card{
      width: 90%;
    }
    .hourly_item{
      width:20%;
      
    }
     #t1,#t2,#t3,#t4{
       font-size:11px;
       padding-right: 15px;
    
    }
   
    .cards_group{
        margin:100px 5px;
        padding:0;
        width: 100%;
  

  } 
   .cards_group .card{
      width: 100%;
      height:750px;
    }
    .logo{
    font-size:1.5rem;
    color:antiquewhite;
    padding:0px 10px;
    margin:5px 0px;
    
    width:300px;
  }
  .hamburger{
    position:relative;
    left:330px;
    bottom:105px;

  }


  .middle_card {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
  justify-items: center;
  height:50vh;

}
.midpart{
        height:20vh;
        width:80%;        
     }

.hourly_item{

        height:25vh;
        width:22%;
        margin:25px 5px ;
        }
p.lwrdt{
      font-size:18px;
    }
  }



   @media only screen and (min-width: 320px) and (max-width: 374px){
     #temperature{
    font-size: 30px;
  }
    .mdlpr{
       font-size: 11px;
        padding:2px;
    }
    #one.card{
      width: 90%;
    }
    .hourly_item{
      width:20%;
      
    }
     #t1,#t2,#t3,#t4{
       font-size:11px;
       padding-right: 15px;
    
    }
   
    .cards_group{
        margin:100px 0px;
        padding:2px;
        width: 100%;
  

  } 
   .cards_group .card{
      width: 100%;
      height:750px;
    }
    .logo{
    font-size:1.5rem;
    color:antiquewhite;
    padding:0px 10px;
    margin:5px 0px;
    
    width:300px;
  }
  .hamburger{
    position:relative;
    left:280px;
    bottom:105px;
    display:none;

  }


  .middle_card {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
  justify-items: center;
  height:50vh;

}
.midpart{
        height:20vh;
        width:80%;        
     }

.hourly_item{

        height:25vh;
        width:22%;
        margin:22px 1px ;
        }
p.lwrdt{
      font-size:15px;
    }
  }





